<p>
  creacion-persona works!
</p>
<h1>{{titleCreacionPersona}}</h1>
<output>ID:</output>
<input type="num" ng-model="id">
<p></p>
<output>TIPO IDENTIFICACIÓN:</output>
<select ng-model="tipoIdentificacion">
  <option ng-repeat="x in cars" value="Cedula">Cedula</option>
  <option ng-repeat="x in cars" value="Identidad">Identidad</option>
</select>
<p></p>
<output>IDENTIFICACIÓN:</output>
<input type="text" ng-model="id">
<p></p>
<output>PRIMER NOMBRE:</output>
<input type="text" ng-model="id">
<p></p>
<output>PRIMER APELLIDO:</output>
<input type="text" ng-model="id">


